*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .travel_page{
    width: clamp(400px,700px,800px);
    margin: auto;
    padding: 5px;
    border: 5px solid black;
} */
.app{
    padding: 20px 20%;
}